body {
    background-color: rgb(100, 132, 173);
}

.list {
    background-color: white;
    list-style: none;
    text-align: center;

}

.icons {
    text-align: center;
    /* display: inline-block; */
}


img {
    width: 60px;
    height: 60px;
    background-color: white;
}

h2 {
   color:  rgb(100, 132, 173);
}